*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #293447;
    border-radius: 5px;
}

.game-details{
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 20px 27px;
    padding: 20px 27px;;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr)/repeat(30, 1fr);
}

.play-board .food{
    background: #ff003d;
}
.play-board .head{
    background: #60cbff;
}